#title {
  background-color: #ff4c68;
    color: white;
  overflow: hidden;
}
h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
body{
  font-family: "Montserrat";
}

/* Navigation Bar */
.navbar{
   padding:0 0 4.5rem 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}


.container-fluid{
  padding:3% 10%;
  padding-bottom: 0;
  height: 25%;
}

.brand{
  font-family: "Montserrat";
  font-weight: 900;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 50%;
  transform: rotate(25deg);
  margin-left: 15%;
}

/* Features Secion */
#features{

  padding: 100px 0;
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  text-align: center;
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonials Secion */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item{
  padding: 7% 15%;
}
/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-pic{
  width:15%;
  margin: 20px 20px 50px;
}
.signup-button{
  margin: 5% 3% 5% 0;
}
